main{
    padding: 30pt;
    color:black;

    /*https://css-tricks.com/best-way-implement-wrapper-css/  
    got it from CSS-Tricks*/

    margin-right: 300pt;
    margin-left:  320pt; 
    
    }
    hr{
        background-color: pink;
    }
    h1{
        text-align: center;
    }
    .button{
        /* https://www.w3schools.com/css/css3_buttons.asp*/
        background-color: papayawhip;
        padding: 9pt 20pt;
    }
    /* https://www.w3schools.com/css/css_form.asp*/
    .input{
      width:50%;  
    }
    /* https://www.w3schools.com/css/css_float.asp*/
    .rateholder{
        float:right;
    }
    .buttonholder{
        display: flex;
        justify-content: center;
    }
    
    